<div id="main-screen">
    <script src="js/main.js"></script>
    <div id="header">
        <a class="icon left-icon" href="#">
            <img src="./img/icons/settings.svg" alt="..." />
        </a>
    </div>

    <div class='container col-md-12 mapContainer'>
        <div id="map"></div>
    </div>

    <div id="footer">
        <a class="icon left-icon">
            <img src="./img/icons/calendar.png" alt=NOW" />
        </a>
        <a class="icon right-icon">
            <img src="./img/icons/transport.svg" alt="BUS">
        </a>
        <a class="icon right-icon">
            <img src="./img/icons/wifi.svg" alt="Wi-Fi">
        </a>
        <a class="icon right-icon">
            <img src="./img/icons/wc.svg" alt="WC">
        </a>
        <a class="icon right-icon" onclick="changeATMicon(this);">
            <img src="./img/icons/atm.svg" style="cursor: pointer" onclick="atm = true; performSearch(); return false;" alt="ATM">
        </a>
    </div>
    <script id="plate" type="text/html">
        <div class="container bloc col-md-6" id="form">
            <form onchange="readURL()">
                <label>Opis<input type="text" name="text" accept="text/css" required></label>
                <label>Photo: <input type="file" name="obraz" accept="image/*" required></label>
                <button onclick="return accept()">Akceptuj</button>
            </form>
        </div>
        <div class="container col-md-6" id="temp">
            <div class="col-md-6 invisible" style="float: left"><img id="blah" src="#" alt="your image"/></div>
            <div class="col-md-6 invisible" style="float: right"><p id="descr"></p></div>
        </div>
    </script>
</div>