<div id="quick-guide-screen">
    <div id="menu-header">
        <img src="img/logo/HastaLaWislaNiskie.png" alt="Hasta la Wisła" id="logo" />
    </div>

    <a href="#" id="back-link"><img src="img/icons/back.svg" id="back-arrow" /></a>

    <div id="quick-guide-container">
        <p>Poniżej znajduje się wyciąg najważniejszych praktycznych informacji, które powinien znać
        każdy Wisłujący.</p>
        <ul>
            <li><strong>Alkohol</strong><br />
            Spożywanie alkoholu w Warszawie jest dozwolone w zależności od miejsca. Miejscem spornym,
            co do którego toczy się bój między mieszkańcami a Strażą Miejską, jest obszar zaznaczony
            na poniższej mapie czerwoną kreską:<br />
            <img src="img/alkomapa.png" alt="Alkomapa"/>
            Na obszarach zaznaczonych na zielono można spokojnie spożywać napoje wyskokowe.</li>
            <li><strong>Ogniska i grille</strong><br />
            Nad stołeczną Wisłą można rozpalić grilla na jednej z trzech plaż: przy Moście Poniatowskiego,
            na tzw. olaży Saskiej i plaży na wysokości praskiego ZOO. Natomiast próba rozpalenia grilla
            na bulwarach po lewej stronie Wisły grozi mandatem w wysokości 200 zł. Podobnie jest z ogniskami -
            czasem można spotkać też miejsca na nie przeznaczone. Należy też zachować odległość od materiałów
            łatwopalnych, drzew itp.</li>
            <li><strong>Zakaz kąpieli</strong><br />
            Generalnie wyznacznikiem są tu znaki "zakaz kąpieli", które i tak są traktowane z pobłażliwością
            przez część osób. Trzeba jednak pamiętać o dwóch rzeczach: silnym i zdradliwym nurcie Wisły (np. wiry)
            oraz że poziom czystości rzeki jest nienajwyższy (Sanepid odradza zdecydowanie kąpiele).</li>
        </ul>
    </div>
</div>
